In [1]:
import pandas as pd
import numpy as np

In [17]:
df = pd.read_csv("diabetes_prediction_dataset.csv")

print('Jumlah Baris, Kolom')
print(df.shape)
print('')
print('Jumlah Baris')
print(df.shape[0])
print('')
print('Jumlah Kolom')
print(df.shape[1])
print('')
print('Ada berapa nilai yang NULL')
print(df.isnull().sum())
print('')
print('Data Duplicate: ',df.duplicated().sum())
print('')
df[df.duplicated()]

Jumlah Baris, Kolom
(100000, 9)

Jumlah Baris
100000

Jumlah Kolom
9

Ada berapa nilai yang NULL
gender                 0
age                    0
hypertension           0
heart_disease          0
smoking_history        0
bmi                    0
HbA1c_level            0
blood_glucose_level    0
diabetes               0
dtype: int64

Data Duplicate:  3854

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
2756,Male,80.0,0,0,No Info,27.32,6.6,159,0
3272,Female,80.0,0,0,No Info,27.32,3.5,80,0
3418,Female,19.0,0,0,No Info,27.32,6.5,100,0
3939,Female,78.0,1,0,former,27.32,3.5,130,0
3960,Male,47.0,0,0,No Info,27.32,6.0,200,0
...,...,...,...,...,...,...,...,...,...
99980,Female,52.0,0,0,never,27.32,6.1,145,0
99985,Male,25.0,0,0,No Info,27.32,5.8,145,0
99989,Female,26.0,0,0,No Info,27.32,5.0,158,0
99990,Male,39.0,0,0,No Info,27.32,6.1,100,0
99995,Female,80.0,0,0,No Info,27.32,6.2,90,0

In [ ]:
#Drop Duplicate

df.drop_duplicates(inplace=True)

#Cek apakah duplicatenya udah keapus
print(df.duplicated())
print('')
print('Data Duplicate: ',df.duplicated().sum())
print('')

0        False
1        False
2        False
3        False
4        False
         ...
99994    False
99996    False
99997    False
99998    False
99999    False
Length: 96146, dtype: bool

Data Duplicate:  0

In [25]:
df['gender'].value_counts()

gender
Female    56161
Male      39967
Other        18
Name: count, dtype: int64

In [27]:
df['smoking_history'].value_counts()

smoking_history
never          34398
No Info        32887
former          9299
current         9197
not current     6367
ever            3998
Name: count, dtype: int64

In [ ]:
# .values biar berubah ke matriks atau numpy
# kalau gapake .values dia tetep jadi data frame
# .values mengkonversi dari data frame jadi matriks (titik temu pandas dan numpy)


x = df.iloc[:,:-1].values
y = df.iloc[:,-1:].values
print(x)
print(x.shape)
print(' ')
print(y)
print(y.shape)

[['Female' 80.0 0 ... 25.19 6.6 140]
 ['Female' 54.0 0 ... 27.32 6.6 80]
 ['Male' 28.0 0 ... 27.32 5.7 158]
 ...
 ['Male' 66.0 0 ... 27.83 5.7 155]
 ['Female' 24.0 0 ... 35.42 4.0 100]
 ['Female' 57.0 0 ... 22.43 6.6 90]]
(96146, 8)

[[0]
 [0]
 [0]
 ...
 [0]
 [0]
 [0]]
(96146, 1)

In [31]:
y =  y.reshape(len(y),1)
print(y.shape)

(96146, 1)